<header class='header'>
	<div class='header__logo'>My Blog</div>
	<nav class='header__nav'>
		<a class='header__nav-link' href='/'>Home</a>
		<a class='header__nav-link' href='/about'>About</a>
		<a class='header__nav-link' href='/post'>Create post</a>
	</nav>
</header>