<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
		<link rel='stylesheet' href='/styles/about.css' />
	</head>
	<body>
		<main class='about'>
			<a class='link' href='/'>Back</a>
			<p class='aboutPs'>
				This project is a simple blogging application, built on top of

				<strong class='Node'>Node.js</strong>,

				<strong class='express'>Express</strong>
				and

				<strong class='mongo'>MongoDB</strong>. The application allows users to
				view all available blog posts, create new posts, and delete them.
			</p>

			<p class='aboutPs'>
				Key Features:
			</p>
			<ul>
				<li class='aboutLis'>
					<strong>
						The Home Page
					</strong>
					shows a list of all blogs stored in the

					<strong class='mongo'>MongoDB</strong>
					database.
				</li>
				<li class='aboutLis'>
					<strong>
						Create Post
					</strong>
					allows users to add new posts with a title, description, and body
					text.
				</li>
				<li class='aboutLis'>
					<strong>
						View Post
					</strong>
					allows users to open a single post for more detailed reading.
				</li>
				<li class='aboutLis'>
					<strong>
						Delete a post
					</strong>
					allows you to delete posts from the database.
				</li>
			</ul>
			<p class='aboutPs'>
				The application uses the template engine
				<strong class='handlebars'>
					Handlebars
				</strong>
				for rendering pages and provides convenient navigation, as well as ease
				of use.
			</p>
			<hr />
			<p class='aboutPs'>
				Этот проект представляет собой простое приложение для ведения блога,
				созданное на базе
				<strong class='Node'>Node.js</strong>,
				<strong class='express'>Express</strong>
				и
				<strong class='mongo'>MongoDB</strong>. В приложении пользователи могут
				просматривать все доступные записи блога, создавать новые публикации и
				удалять их.
			</p>

			<p class='aboutPs'>
				Ключевые особенности:
			</p>
			<ul>
				<li class='aboutLis'>
					<strong>
						Главная страница
					</strong>
					показывает список всех блогов, которые хранятся в базе данных
					<strong class='mongo'>MongoDB</strong>.
				</li>
				<li class='aboutLis'>
					<strong>
						Создание записи
					</strong>
					позволяет пользователям добавлять новые публикации с заголовком,
					описанием и основным текстом.
				</li>
				<li class='aboutLis'>
					<strong>
						Просмотр записи
					</strong>
					даёт возможность открыть отдельную публикацию для более детального
					чтения.
				</li>
				<li class='aboutLis'>
					<strong>
						Удаление записи
					</strong>
					позволяет удалять публикации из базы данных.
				</li>
			</ul>
			<p class='aboutPs'>
				Приложение использует шаблонизатор
				<strong class='handlebars'>
					Handlebars
				</strong>
				для рендеринга страниц и обеспечивает удобную навигацию, а также
				простоту в использовании.
			</p>
		</main>
	</body>
</html>