<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
		<link rel='stylesheet' href='about.css' />
	</head>
	<body>
		<main class='about'>
			<h2 class='about__title'>About</h2>
			<div class='about__desc'>Lorem ipsum dolor sit a Reiciendis sapiente eum
				sunt labore ipsam illum dolorem quibusdam facere nostrum quos, aliquam
				aspernatur repellat!</div>
			<a href='/'>Back</a>
		</main>
	</body>
</html>