<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
		<link rel='stylesheet' href='home.css' />
	</head>
	<body>
		<main class='home'>
			<hr />
			<h1>Home</h1>

			<hr />
			{{#each blogs}}
				<hr />
				<a href='/posts/{{title}}'>
					<p>{{title}}</p>
					<p>{{desc}}</p>
					<a href='/posts/delete/{{title}}'>Delete</a>
				</a>
				<hr />
			{{/each}}
			<hr />
		</main>
	</body>
</html>