.aboutLis,
.aboutPs {
	margin: 1em;
	color: white;
	font-weight: 300;
}

strong {
	color: rgb(81, 81, 255);
}

.link {
	display: block;
	margin: 0.5em;
	width: min-content;
	text-align: right;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 300;
	color: rgb(160, 160, 160);
}

.link:hover {
	color: yellow;
}

.mongo {
	color: #47a248;
}

.node {
	color: #339933;
}

.handlebars {
	color: #f0772b;
}
